<!DOCTYPE html>
<html>
  <head>
    <title>Somos Potros</title>
    <meta name="description" content="A very important and serious publishing house.">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/a96b378d-dba2-4690-afe4-c4bb038e826d%2FWild_Horses_03116.jpg-514ef.jpg?1512701290855" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>   
    <div class="site-content">
    <div class="menu">
      <h1> <a id="home-link" class="menu-text">Somos Potros</a></h1>
      <h2>
        <a id="about-link" class="menu-text">About</a>
      </h2>
      <h2>
        <a id="project-link" class="menu-text">Projects</a>
      </h2>
      <h2>
        <a id="contact-link" class="menu-text">Contact</a>
      </h2> 
  </div>
      <div class="site-details">
      
      <div id="about-text" class="white-box text-box">
        <h3>Zines with feeling</h3>
        <p> 
Based in NYC and Berlin. We make print, audio and digital storytelling projects on a range of topics including fear, pets and the apocalypse. Our goal is to put a personal lens on the unknowable aspects of our world.
        </p>
     </div>
    
      <div id="contact-text" class="white-box text-box">
         <h3>For collabs or purchases</h3>
         <p>Reach out at <a class="text-link" href="mailto:team@somospotros.us?Subject=Hello%20hello">team@somospotros.us</a></p>
      </div>
    
      <div id="project-text" class="text-box">
        <div class="white-box">
          <h3>Oblivious Princes, Emperors of Our Hearts</h3> 
          <p> ¼ sheet staplebound zine. The definitive volume on new pet ownership.</p>
        </div>
        
        <div class="white-box">
          <h3>Crushers Quarterly</h3> 
          <p> ¼ sheet staplebound zine. Thoughts and tasting notes from the world of natural wine. Made in collaboration with Alaia Ortega.</p>
        </div>
        
        <div class="white-box">
          <h3>Songs I Love Now That I Have A Car To Listen To Them In</h3> 
          <p> ½ sheet staplebound zine. Christina Drill on Elvis Costello and her new life in Miami.</p>
        </div>
        
        <div class="white-box">
          <h3>Dark and Terrible Stuff From Home and <br>At Your Grandmother's House</h3> 
          <p> 18 minute cassette, edition of 25. Four scary stories to listen to by yourself or with friends. </p>
          <p> Produced with help from <a class="text-link" href="https://gpstripes.bandcamp.com/">GP Stripes </a></p>
        </div>
        
        <div class="white-box">
          <h3>Dive! The Game</h3> 
          <p> Text-based computer game, confronting fears of deep ocean. <a class="text-link" href="https://dive-the-game.glitch.me">Play here.</a></p>
        </div>
        
        <div class="white-box">
          <h3>Juni und Juli im Deutschland</h3> 
          <p> ¼ sheet staplebound zine. Cats in motion from New York to Germany.</p>
        </div>
        
        <div class="white-box">
        <h3>Ten Sea Creatures You Weren’t Aware Of and Can’t Tell Me Don’t Exist Because No One Ever Has Been to the True Bottom of the Ocean</h3> 
        <p> ¼ sheet staplebound zine. Important research document on unfamiliar deep sea beings.</p>
        </div>
       </div>
       </div>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Josefin+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="client.js"></script>
  </body>
</html>
