<!DOCTYPE html>
<html>
  <head>
    <title>Somos Potros</title>
    <meta name="description" content="A very important and serious publishing house.">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/a96b378d-dba2-4690-afe4-c4bb038e826d%2FWild_Horses_03116.jpg-514ef.jpg?1512701290855" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>   
    <div class="site-content">
    <div class="menu">
      <h1> <a id="home-link" class="menu-text">Somos Potros</a></h1>
      <h2>
        <a id="about-link" class="menu-text">About!</a>
      </h2>
      <h2>
        <a id="project-link" class="menu-text">Projects!</a>
      </h2>
      <h2>
        <a id="contact-link" class="menu-text">Contact!</a>
      </h2> 
  </div>
      <div class="site-details">
      
      <div id="about-text" class="white-box text-box">
        <p> 
        We make print, audio and digital storytelling projects about all sorts of stuff including fear, pets, the end of the world and New York City. If you're interested in finding a physical edition of one of our projects or collaborating please reach out!
        </p>
    </div>
    
     <div id="contact-text" class="white-box text-box">
         <h3>Send feelings to <a href="mailto:team@somospotros.us?Subject=Hello%20hello">team@somospotros.us</a></h3>
      </div>
    
      <div id="project-text" class="text-box">
        <div class="white-box">
        <h3>Oblivious Princes, Emperors of Our Hearts</h3> 
        <p> <img id="obliviousprinces" src="https://cdn.glitch.com/a96b378d-dba2-4690-afe4-c4bb038e826d%2Foblivious_princes.JPG?1518373521556"/>
        <p class="italic"> by Robert and Eve</p>
        <p class="italic"> Staplebound zine. The definitive work on pet ownership and obsession. </p>
        </p>
        </div>
        <br>
        <br>
        <div class="white-box">
        <h3>Dark and Terrible Stuff From Home and <br>At Your Grandmother's House</h3> 
        <p> 
          <img id="tape" src="https://cdn.glitch.com/a96b378d-dba2-4690-afe4-c4bb038e826d%2Ftape.JPG?1518373521041"/>
          </p>
        <p class="italic"> by Robert, with help from <a href="https://gpstripes.bandcamp.com/">GP Stripes </a></p>
        <p class="italic"> 18 minute cassette, edition of 25. Four scary stories to listen to by yourself or with friends </p>  
        </div>
       </div>
       </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="client.js"></script>
  </body>
</html>
