/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

/* .site-content{
  display: flex;
}
 */

.menu{
  position: absolute;
  left: 50px;
  top: 100px;
  background-color: #BCD5EC;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 10px #888888;
  cursor: pointer;
}

.menu-text{
  background-color: white;
}


.site-details{
  position: absolute;
  left: 400px;
  top: 110px;
}

.text-box{
  display: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 25px;
  background-image:url('https://media.giphy.com/media/MH6xnLOADfhOE/giphy.gif');
  background-position: center;
  background-size: cover;
}

.white-box {
    background-color: white;
    border-radius: 25px;
    color: black;
    text-align:left; 
    float:left;
    width: 100%;
    max-width: 600px;
    padding:20px 20px;
    margin-right: 5px;
    margin-bottom: 30px;
    box-shadow: 5px 10px #888888;
}

h1 {
  font-weight: bold;
  color: pink;
  display: inline-block;
  
}

.bold {
  font-weight: bold;
}


.menu-text {
  font-weight: bold;
  color: pink;
  display: inline-block;
  margin-right: 10px;
}

h3 {
  color: slategray;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


p {
  font-family: helvetica, arial, sans-serif;
  max-width: 600px;
  color: slategray; 
}

a:link {
    color: pink; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: pink;
    background-color: transparent;
}


img{
    width:100%;
    max-width:500px;
}

@media (max-width: 600px) {
  .menu{
    width: 80%
  }
  
  .site-details{
    width: 85%;
    position: relative;
    left: 50px;
    top: 400px;
  }
  
}