
body {
  margin: 25px;
  background-image:url('https://media.giphy.com/media/MH6xnLOADfhOE/giphy.gif');
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: pink;
  display: inline-block;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #BCD5EC;
  color: black;
  display: inline-block;
  margin-bottom: 0px;
}

p {
  font-family: 'Montserrat', sans-serif;
  max-width: 600px;
  color: slategray; 
  margin-top: 10px;
}


.menu{
  position: absolute;
  left: 50px;
  top: 100px;
  background-color: #BCD5EC;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 10px #888888;
  cursor: pointer;
}

.menu-text{
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: pink;
  display: inline-block;
  margin-right: 10px;
}


.site-details{
  position: absolute;
  left: 400px;
  top: 110px;
}

.text-box{
  display: none;
}


.white-box {
    background-color: white;
    border-radius: 25px;
    color: slategray;
    text-align:left; 
    float:left;
    width: 100%;
    max-width: 600px;
    padding:20px 20px;
    margin-right: 5px;
    margin-bottom: 30px;
    box-shadow: 5px 10px #888888;
}

.non-zine {
  background-color: #3461E5;
  color: white;
}


a:link {
    color: pink; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: pink;
    background-color: transparent;
}

.text-link:hover {
    background-color: pink;
    color: white;
    text-decoration: none;
}



@media (max-width: 600px) {
  .menu{
    width: 80%;
    left: 20px;
  }
  
  .site-details{
    width: 80%;
    left: 20px;
    top: 400px;
    border-radius: 0px;
  }
  
  .white-box{
    width: 100%;
  }
  
}